#ejercicioUno {
display:block;
text-align:center;
}

#ejercicioDos{
    display: none;
}

#ejercicioTres{
    position: absolute;
    top: 100px;
    left:200px;
}

#ejercicioCuatro{
  position: fixed;
  left: 0;
  top: 0;

}

#ejercicioCinco{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-flow: row-reverse;

}

#ejercicioSiete{
flex-direction: row;
align-items: center;
justify-content: space-around;
}